@mixin font_smoothing {
  // Font Smoothing
  font-smooth: always; // Non-standard CSS 
  // https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
  -webkit-font-smoothing: antialiased; // Webkit, only works on macOS
  -moz-osx-font-smoothing: grayscale; // Firefox, only works on macOS
}
// Usage: 
// body {
//   @include font-smothing;
// }

$font_family_sans_serif:
// Safari for macOS and iOS (San Francisco), older Mac OS X (Helvetica Neue/Lucida Grande)
-apple-system,
// Chrome < 56 for OS X (San Francisco)
BlinkMacSystemFont,
// Windows
"Segoe UI",
// Android and Chrome OS
"Roboto",
// KDE
Oxygen-Sans,
// Ubuntu
Ubuntu,
// GNOME
Cantarell,
// Firefox OS
"Fira Sans",
// Android (Old)
"Droid Sans",
// Basic web fallback (Arial is universally available)
"Helvetica Neue", Arial, sans-serif,
// Emoji fonts
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Github, Medium, WordPress, Booking.com, Bootstrap and more uses a native 'system fonts' stack
// Oxygen Sans, Ubuntu and Cantarell are being used by Medium and WordPress native stacks

// OS 10.0 - 10.9 - Lucida Grande
// OS 10.10 - 10.11 - Helvetica Neue
// OS 10.12 - San Francisco

// https://css-tricks.com/snippets/css/system-font-stack/
// https://booking.design/implementing-system-fonts-on-booking-com-a-lesson-learned-bdc984df627f
// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
// https://medium.design/system-shock-6b1dc6d6596f

$font_family_code: 
SFMono-Regular, // macOS, El Capitan +
Menlo, // Snow Leopard, replaced by SF Mono in El Capitan
Monaco, // OS X (primary till 2009 Snow Leopard)
Consolas, // Windows
'Lucida Console', // Widnows
"Liberation Mono", // Linux
monospace;

// https://www.client9.com/css-system-font-stack-monospace-v2/


$font_family_serif:
'Times New Roman',
serif;
